body {
    text-align: center;
}

h1 {
    color: red;
}

ul {
    color: blue;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: green;
}

footer {
    color: indigo;
}

.firstcard {
    color: blue;
}

.secondcard {
    color: crimson;
}